{{>header}}
    {{>nav}}
    <!--Jumbotton starty-->
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">Esta es mi primera pagina con bootstrap y Express</p>

    </div>
    <!--Jumboton stop-->
    {{>footer}}
